* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    list-style-type: none;
}

header {
    min-height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: top;
    justify-content: space-between;
    position: sticky;
    top: 0;
    /* border: 1px solid red; */
}

header div {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

header button {
    color: white;
    background-color: transparent;
    padding: 5px 20px;
}

#mydropdown button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header a {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.header-block h1 {
    font-family: cursive;
}

#nikhil {
    color: lightskyblue;
}

#hore {
    color: lightcoral;
}

#contactlink{
    color: lightgreen;
}

#main-container {
    width: 100%;
    flex-grow: 1;
    margin: auto;
    padding: 5px 20px;
    overflow: auto;
    /* border: 1px solid red; */
}

.section-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding-bottom: 40px;
}

#home-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#home-section div {
    padding: 10px;
}

#home-section img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#education, #certifications {
    display: flex;
    flex-direction: column;
}

#certifications a {
    color: lightskyblue;
}

#sectionr button {
    background-image: linear-gradient(to right, lightskyblue, lightcoral);
    height: 50px;
    width: 100px;
    margin: 30px;
    border-radius: 10px;
}

#sectionr a {
    color: black;
    text-decoration: none;
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#contactlink:hover {
    color: green;
}

#address, #phone {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
}

#address-phone {
    margin: 5vh;
}

#social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

#social-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#social-logos img{
    margin: 15px;
    width: 25px;
    height: 25px;
}

footer {
    min-height: 40px;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

@media screen and (min-width: 721px) {
    header button:hover {
        color: black;
        background-color: white;
    }

    .hide {
        display: none;
    }
}

@media screen and (max-width: 720px) {

    #contact {
        display: flex;
        flex-direction: column;
    }

    #social {
        margin-top: 10px;
    }

    /* dropdown menu */

    .dropbtn {
        padding: 0 5px;
        margin: 5px 0;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .dropbtn:focus {
        border-radius: 10px;
        color: black;
        background-color: white;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 5px;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        border-radius: 10px;
        overflow: auto;
        z-index: 1;
    }
    
    .dropdown-content h2 {
        color: black;
        padding: 5px 10px;
    }

    .dropdown-content button {
        width: 100%;
    }

    .dropdown-content button:hover {
        background-color: black;
    }

    .dropdown-content button:hover h2 {
        color: white;
    }
    
    .show {
        display: block;
    }

    /* dropdown menu */

    #home-section img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 400px) {
    #home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #home-section.hidden {
        display: none;
    }
}

.hidden {
    display: none;
}