@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Charm&family=Laila:wght@300&display=swap');


* {
    margin: 0;
    border: 0;
    color: white;
}

h1, h2, h3, h4, h5, h6, p, a, button, div, span {
    margin: 0;
}

html, body {
    background-image: url('images/3.jpg');
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: bottom right;
    background-color: #151515;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}

.row-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    min-height: 60px;
    background-color: rgb(0, 0, 0, 0.5);
    justify-content: space-between;
    position: sticky;
    top: 0;
    font-family: 'Laila', sans-serif;
}

header button {
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
}

header button:hover {
    color: gold;
}

header div a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Charm', cursive;
    font-weight: bold;
}

.lightskyblue {
    color: lightskyblue;
}

.lightcoral {
    color: lightcoral;
}

#main-container {
    min-height: calc(100vh - 100px);
    background-color: rgb(0, 0, 0, 0.5);
    font-family: 'Belleza', sans-serif;
    flex-grow: 1;
    overflow: auto;
    margin: auto;
}

.section-container {
    overflow: auto;
}

.inner-container {
    width: 70%;
}

#work-container {
    display: flex;
    flex-direction: column;
}

.work-item {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

.work-item h1 {
    font-weight: bold;
}

#work1 {
    background-image: linear-gradient(to top right, orangered, purple);
}

#work2 {
    background-image: linear-gradient(to top right, greenyellow, rgb(63, 63, 226));
}

.work-item a {
    color: lightskyblue;
}

.img-container {
    width: 50%;
}

.info-container {
    padding: 20px;
}

.work-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#sectionr button {
    background-image: linear-gradient(to right, lightskyblue, lightcoral);
    height: 50px;
    width: 100px;
    margin: 30px;
    border-radius: 10px;
}

#sectionr a {
    text-decoration: none;
}

#sectionr button {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#address-phone {
    margin: 5vh;
}

#address, #phone {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
}

.contact-element-headings {
    font-weight: bold;
}

#social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}

#social-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sectionc img{
    margin: 15px;
    width: 25px;
    height: 25px;
}

.form-control {
    background-color: rgb(240, 240, 240);
}

.btn {
    background-image: linear-gradient(to right, lightskyblue, lightcoral);
}

.btn h5 {
    font-weight: 600;
    color: black;
}

footer {
    min-height: 40px;
    background-color: rgb(0, 0, 0, 0.5);
    align-items: center;
    position: sticky;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
}


@media screen and (min-width: 768px) {
    .hide {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    html, body {
        background-position: bottom left;
    }
    
    #contact {
        display: flex;
        flex-direction: column;
    }

    /* dropdown menu */

    .dropbtn {
        padding: 0 5px;
        margin: 5px 0;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        z-index: 10;
    }
    
    #mydropdown {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 100px 0 150px rgba(100, 100, 100, 0.75);
    }

    .section-button {
        font-size: 25px;
        margin: 10px;
    }

    #close-dropdown {
        font-size: 50px;
        margin: 100px;
    }
    
    #mydropdown.dropdown-hide {
        display: none;
    }

    /* dropdown menu */

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .work-item {
        flex-direction: column;
    }

    .img-container {
        width: 80%;
    }
}

@media screen and (min-height: 1081px){
    html, body {
        background-position: bottom left;
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.active {
    color: darkorange;
}