* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 0 10px 0 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: black;
}

.header-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.header-block h1 {
    font-family: cursive;
}

#nikhil {
    color: lightskyblue;
    margin-right: 5px;
}

#hore {
    color: lightcoral;
    margin-right: 5px;
}

header ul a {
    margin: 0 10px 0 10px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: yellow;
}

#contactlink{
    color: lightgreen;
}

.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dropbtn {
    width: 0;
}

#dropbtn.hidden {
    visibility: hidden;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.sectionheading {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}

.home-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sectionh img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.home-block {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#education, #certifications {
    display: flex;
    flex-direction: column;
}

#certifications a {
    color: lightskyblue;
}

#sectionr button {
    background-image: linear-gradient(to right, lightskyblue, lightcoral);
    height: 50px;
    width: 100px;
    margin: 30px;
    border-radius: 10px;
}

#sectionr a {
    color: black;
    text-decoration: none;
}

#contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#address, #phone {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: left;
}

#address-phone {
    margin: 10vh;
}

#social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh;
}

#social-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#social-logos img{
    margin: 15px;
    width: 25px;
    height: 25px;
}

footer {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    position: sticky;
    bottom: 0;
    background-color: rgba(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 800px) {
    #address-phone, #social {
        margin: 5vh;
    }
}

@media screen and (max-width: 720px) {
    header a {
        margin-right: 5px;
        margin-left: 5px;
    }

    #contact {
        display: flex;
        flex-direction: column;
    }

    #social {
        margin-top: 10px;
    }

    /* Drop down menu */

    #dropbtn.hidden {
        visibility: visible;
    }

    #dropbtn {
        background-color: black;
        color: lightgreen;
        border: none;
        cursor: pointer;
    }

    #dropbtn:hover, #dropbtn:focus {
        color: white;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        border-radius: 10px;
        padding: 10px;
        background-color: skyblue;
        min-width: 160px;
        overflow: auto;
        z-index: 1;
    }
          
    .dropdown-content li {
        display: block;
        padding: 10px;
    }

    .show {
        display: block;
    }

    #mydropdown a {
        color: coral;
    }

    /* Drop down menu */

}
